@function dialog-url($path) {
  @return url("../components/iman-styles-dialog/assets/#{$path}");
}

.dialog {
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  margin: 0 auto;
  position: absolute;
  top: 60px; // Left position calculated and applied via JS for IE bug
  box-shadow: 0 0 20px rgba(black, 0.3);
  border-top: 5px solid #0088cc;
  background: white;
  z-index: 10001;
  opacity: 1;

  .dialog__content {
    padding: 15px 20px;
  }

  .dialog__close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
    z-index: 1000;
    display: none;
    opacity: 0.8;
    background: dialog-url('close.png');
    background: dialog-url('close.svg'), none;
    height: 32px;
    width: 32px;

    &:hover {
      opacity: 1;
    }
  }

  &.is-closable .dialog__close {
    display: block;
  }

  &.is-closed {
    opacity: 0;
  }

  @media (max-width: 480px) {
    top: 0;
  }
}